#connect {
    margin-top: 80px;
    /* margin-bottom: 80px; */

    .content {
        padding-top: 40px;
        padding-bottom: 60px;

        border: 1px dashed var(--border-color-0);
        border-right: none;
        border-left: none;
    }

    .grid {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;

        .container {
            overflow-x: auto;
        }
    }

    table {
        .button {
            border: none;
        }

        .email {
            overflow-x: scroll;

            font-family: var(--monospace-font-family);
            font-size: var(--font-size--1);
            font-weight: 400;

            text-align: start;

            padding: 0 1rem;
        }
    }
}
