#connect {
    .content {
        padding-top: 2rem;
    }

    .grid {
        width: 100%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5rem;

        .container {
            overflow-x: auto;
        }
    }

    table {
        .button {
            border: none;
        }

        .email {
            overflow-x: scroll;

            font-family: var(--monospace-font-family);
            font-size: var(--font-size--1);
            font-weight: 400;

            text-align: start;

            padding: 0 1rem;
        }
    }
}
