footer {
    margin-top: 3rem;
    padding-bottom: 6rem;

    .content {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    #controls {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: space-between;

        z-index: 99;
    }

    #logo {
        width: 6rem;
        height: 6rem;

        svg {
            fill: var(--accent-color);
        }
    }

    //////////////////
    // LINK COLUMNS //
    //////////////////

    #columns {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .column {
            flex: 1;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            color: var(--foreground-color-1);

            .columnTitle {
                color: var(--foreground-color-8);

                margin-bottom: 0.25rem;
            }

            a,
            span {
                width: min-content;

                text-decoration: none;
                white-space: nowrap;

                cursor: pointer;
            }
        }
    }
}
