header {
    min-height: min(max(50vh, 500px), 600px);

    display: flex;
    flex-direction: column;
    justify-content: center;

    .content {
        max-width: 500px;

        #bio {
            p {
                font-size: 1.25rem;
                font-weight: 600;
                letter-spacing: -0.05rem;
                line-height: 1.375;

                span.hoverText {
                    cursor: crosshair;
                }
            }

            .xdImage {
                text-decoration: underline;
                text-decoration-style: dotted;
                text-underline-offset: 0.25rem;
                text-decoration-color: var(--background-color-6);
                text-decoration-thickness: 0.1rem;

                &:hover {
                    text-decoration-color: inherit;
                }
            }
        }
    }
}
