/******************************/
/* HOVER BACKGROUND ANIMATION */
/******************************/

.hoverBackground {
    position: relative;
    overflow: hidden;
    transition: color 0.2s ease;

    .horizontal {
        &::before {
            width: 0%;
            height: 100%;

            transition: width 0.2s ease;
        }

        &:hover::before {
            width: 100%;
        }
    }

    & > * {
        position: relative;
        z-index: 1;
    }

    &:hover {
        color: var(--background-color-1);

        svg {
            fill: var(--background-color-1);
            transition: fill 0.2s ease;
        }

        &::before {
            height: 100%;
        }
    }

    &::before {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 0;

        background-color: var(--accent-color);

        transition: height 0.2s ease;

        z-index: 0;
    }
}
