.hoverEffect {
    text-decoration: none;
    color: inherit;

    position: relative;
    z-index: 1;

    margin-right: 1px;

    &.underline {
        text-decoration: underline;
        text-decoration-style: dotted;
    }

    &:hover {
        color: var(--background-color-0);
        text-decoration: none;

        background: var(--accent-color);

        padding: 2px 4px;
        margin: -2px -4px;

        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }
}
