@use "../base" as *;

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;

    z-index: 1000;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    .backdrop {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.8);
    }

    .container {
        width: 600px;
        max-width: 90vw;

        .content {
            position: relative;

            display: flex;
            flex-direction: row;

            background-color: var(--background-color-1);
            border: 1px solid var(--border-color-0);

            .main {
                flex: 1;
                min-width: 0;

                border-right: 1px solid var(--border-color-0);

                .title {
                    padding: 1rem;
                    padding-top: 1.25rem;

                    border-bottom: 1px solid var(--border-color-0);

                    h2 {
                        margin: 0;
                        padding: 0;
                    }
                }

                .details {
                    overflow-x: auto;

                    table {
                        width: 100%;
                        min-width: 350px;

                        border-collapse: collapse;

                        font-family: var(--monospace-font-family-0);
                        font-size: var(--font-size--1);

                        border: none;

                        td {
                            padding: 0.75rem 1rem;
                        }
                    }
                }
            }

            .actions {
                flex-shrink: 0;

                .button {
                    border: none;
                    border-bottom: 1px solid var(--border-color-0);
                }
            }
        }
    }
}

@media (max-width: $MOBILE_LAYOUT_WIDTH) {
    #modal {
        .container {
            padding: 0 1.25rem;
        }
    }
}
