@use "../base" as *;

.project {
    background-color: var(--background-color-1);
    border: 1px solid var(--border-color-0);

    display: flex;
    flex-direction: row;

    // Typography reset
    h2,
    p {
        margin: 0;
    }

    .unreleased {
        color: var(--foreground-color-8);
    }

    // Content area (text content)
    .meta {
        flex: 1;

        display: flex;
        flex-direction: column;

        border-right: 1px solid var(--border-color-0);

        .section {
            padding: 0.75rem 1rem;

            &.actionable {
                padding: 0;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: end;

                .title {
                    padding-bottom: 0.75rem;
                    padding-left: 1rem;

                    display: flex;
                    flex-direction: row;
                    gap: 1rem;

                    align-items: center;
                }

                .button {
                    border: none;
                    border-left: 1px solid var(--border-color-0);
                }
            }

            &.longDescription {
                flex: 1;

                p:not(:last-child) {
                    margin-bottom: 0.5rem;
                }
            }

            &.title {
                padding-top: 1.25rem;
            }

            &.actions {
                padding: 0;

                display: flex;
                flex-direction: row;

                .button {
                    border: none;
                    border-right: 1px solid var(--border-color-0);
                }
            }

            &.longDescription {
                padding-bottom: 1.25rem;
            }

            &.skills {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;

                gap: 0.5rem;

                span {
                    background-color: var(--background-color-2);
                    padding: 0.25rem 0.5rem;

                    border-radius: 0.25rem;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--border-color-0);
            }
        }
    }

    // Project status
    .status {
        font-size: 0.75rem;

        padding: 0.125rem 0.5rem;

        border: 1px solid var(--border-color-0);
        border-radius: 999px;

        &.archived {
            border-color: #bb800966;
            background-color: #bb800926;
        }
    }

    .images {
        flex: 1;

        overflow: hidden;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            object-fit: cover;
            display: block;
        }
    }
}

@media (max-width: $MOBILE_LAYOUT_WIDTH) {
    .project {
        flex-direction: column;

        .meta {
            border: none;
            border-bottom: 1px solid var(--border-color-0);
        }

        .images {
            max-height: 200px;

            img {
                position: initial;
                top: auto;
                left: auto;
            }
        }
    }
}
