@use "../base" as *;

.project {
    height: auto;

    background-color: var(--background-color-1);
    border: 1px solid var(--border-color-0);

    display: flex;
    flex-direction: row;

    // Typography reset
    h2,
    p {
        margin: 0;
    }

    .unreleased {
        color: var(--foreground-color-8);
    }

    // Content area (text content)
    .meta {
        flex: 1;

        display: flex;
        flex-direction: column;

        border-right: 1px solid var(--border-color-0);

        .section {
            padding: 0.75rem 1rem;

            &.longDescription {
                flex: 1;
            }

            &.title {
                padding-top: 1.25rem;
            }

            &.actions {
                padding: 0;

                display: flex;
                flex-direction: row;

                .button {
                    border: none;
                    border-right: 1px solid var(--border-color-0);
                }
            }

            &.longDescription {
                padding-bottom: 1.25rem;
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--border-color-0);
            }
        }
    }

    .images {
        flex: 1;

        img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            display: block;
        }
    }
}

@media (max-width: $MOBILE_LAYOUT_WIDTH) {
    .project {
        flex-direction: column;

        .meta {
            border: none;
            border-bottom: 1px solid var(--border-color-0);
        }

        .images {
            max-height: 300px;
        }
    }
}
