* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background-color: var(--background-color-0);

    font-family: var(--sans-serif-font-family);
    color: var(--foreground-color-0);

    line-height: 1.5;

    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
text {
    font-weight: 600;
    letter-spacing: -0.05rem;
}

h2 {
    font-size: var(--font-size-4);
    margin-bottom: 1.5rem;
}

.material-symbols-outlined {
    color: inherit;
}

text {
    fill: var(--foreground-color-0);
}

svg {
    fill: var(--foreground-color-1);
}

button {
    color: inherit;
    font-size: inherit;
}
