html.dark {
    --background-color-0: #0f0f0f;
    --background-color-1: #191919;
    --background-color-2: #232323;
    --background-color-3: #2e2e2e;
    --background-color-4: #383838;
    --background-color-5: #424242;
    --background-color-6: #4c4c4c;
    --background-color-7: #575757;
    --background-color-8: #616161;
    --background-color-9: #6b6b6b;
    --background-color-10: #757575;

    --background-color-0-transparent: #0f0f0fbb;

    --foreground-color-0: #f3f3f3;
    --foreground-color-1: #e8e8e8;
    --foreground-color-2: #dcdcdc;
    --foreground-color-3: #d1d1d1;
    --foreground-color-4: #c5c5c5;
    --foreground-color-5: #b9b9b9;
    --foreground-color-6: #aeaeae;
    --foreground-color-7: #a2a2a2;
    --foreground-color-8: #979797;
    --foreground-color-9: #8b8b8b;
    --foreground-color-10: #7f7f7f;
    --foreground-color-11: #747474;
    --foreground-color-12: #686868;
    --foreground-color-13: #5d5d5d;
    --foreground-color-14: #515151;

    --accent-color-0: #ff7900;

    --border-color-0: #424242;
    --border-color-1: #575757;
    --border-color-2: #6b6b6b;
}
