/**********/
/* HEADER */
/**********/

header {
    min-height: max(50vh, 500px);

    padding: var(--spacing-more) 0;

    display: flex;
    align-items: stretch;

    position: relative;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        position: relative;
    }
}

#about {
    max-width: 35rem;
    margin-right: 1rem;

    z-index: 99;
}

#bio {
    position: relative;

    margin-top: 1.5rem;

    font-size: 1.4rem;
    font-weight: 600;
    font-style: normal;

    line-height: 1.9rem;
    letter-spacing: -0.045rem;
}
