/*********/
/* MODAL */
/*********/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.2s ease,
        visibility 0.2s ease;

    z-index: 1000;

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    #modalBackdrop {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.8);
    }

    #modalContainer {
        max-width: 45rem;

        #modalContent {
            position: relative;

            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: auto 1fr;
            grid-template-areas:
                "title buttons"
                "details buttons";

            background-color: var(--background-color-1);
            border: 1px solid var(--border-color-0);

            #modalTitle {
                grid-area: title;

                padding: var(--spacing-more);
                padding-bottom: var(--spacing-less);

                border-bottom: 1px solid var(--border-color-0);
                border-right: 1px solid var(--border-color-0);

                h2 {
                    margin: 0;
                    padding: 0;
                }
            }

            #modalDetails {
                grid-area: details;

                border-right: 1px solid var(--border-color-0);

                .modalTable {
                    width: 100%;

                    border-collapse: collapse;

                    font-family: var(--monospace-font-family-0);
                    font-size: var(--font-size--1);

                    tr:not(:last-child) {
                        border-bottom: 1px solid var(--border-color-0);
                    }

                    td {
                        padding: var(--spacing-less) var(--spacing-more);

                        &:first-child {
                            color: var(--foreground-color-2);
                            font-weight: normal;
                            white-space: nowrap;

                            width: 1px;

                            border-right: 1px dashed var(--border-color-0);
                        }

                        &:last-child {
                            color: var(--foreground-color-0);
                        }
                    }
                }
            }

            #modalButtons {
                grid-area: buttons;

                .squareButton {
                    border-bottom: 1px solid var(--border-color-0);
                }
            }
        }
    }
}
