:root {
    --font-size--4: 0.8rem;
    --font-size--3: 0.85rem;
    --font-size--2: 0.9rem;
    --font-size--1: 0.95rem;
    --font-size-0: 1rem;
    --font-size-1: 1.2rem;
    --font-size-2: 1.4rem;
    --font-size-3: 1.6rem;
    --font-size-4: 1.8rem;
    --font-size-5: 2rem;

    --sans-serif-font-family: "Manrope", sans-serif;
    --sans-font-family-1: "GeneralSans-Medium", sans-serif;

    --monospace-font-family-0: "Google Sans Code", monospace;

    --button-size: 3.8rem;
    --icon-size: 1.8rem;

    --spacing-less: 0.75rem;
    --spacing-more: 1.5rem;

    --max-width: 1150px;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

// @media (max-width: 1050px) {
//     html {
//         font-size: 15.5px;
//     }
// }

@media (max-width: 1000px) {
    :root {
        --spacing-less: 0.65rem;
        --spacing-more: 1.3rem;
    }

    html {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    :root {
        --spacing-less: 0.6rem;
        --spacing-more: 1.2rem;
    }

    html {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    :root {
        --spacing-less: 0.5rem;
        --spacing-more: 1rem;
    }

    html {
        font-size: 14px;
    }
}

:root {
    --background-color-0: #fefefe;
    --background-color-1: #f3f6fb;
    --background-color-2: #e8eff8;
    --background-color-3: #dde7f5;
    --background-color-4: #d2dff2;
    --background-color-5: #c7d8ef;
    --background-color-6: #bbd0eb;
    --background-color-7: #b0c9e8;
    --background-color-8: #a5c1e5;
    --background-color-9: #9ab9e2;
    --background-color-10: #8fb2df;

    --background-color-0-transparent: #0f0f0f2d;

    --foreground-color-0: #333333;
    --foreground-color-1: #424345;
    --foreground-color-2: #525456;
    --foreground-color-3: #616468;
    --foreground-color-4: #71747a;

    // aka font color
    --foreground-color-4: #6494d3;
    --foreground-color-5: #75a0d8;
    --foreground-color-6: #87abdc;
    --foreground-color-7: #98b7e1;
    --foreground-color-8: #a9c3e6;
    --foreground-color-9: #bacfeb;
    --foreground-color-10: #ccdbf0;

    --accent-color-0: #1f64bf;

    --border-color-0: #bbd0eb;
    --border-color-1: #a5c1e5;
    --border-color-2: #8fb2df;
}
