// reset
* {
    box-sizing: border-box;
}

// reset
html,
body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: var(--background-color-0);
}

hr {
    border: none;
    border-top: 1px dashed var(--border-color-0);
}

blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;

    background: var(--background-color-0);
    border-left: 0.5rem solid var(--border-color-0);
}

code {
    padding: 0.125rem 0.25rem;

    color: var(--foreground-color-1);
    background: var(--background-color-0);
    border: 1px solid var(--border-color-0);
}

pre code {
    display: block;
    overflow-x: auto;
    text-wrap: nowrap;
    line-height: 1.25;

    padding: 1rem;

    color: var(--foreground-color-3);
    background: var(--background-color-0);
    border: 1px solid var(--border-color-2);
}
