@use "sass:color";
@use "sass:math";

@function blend-colors($color1, $color2, $percentage) {
    $weight: math.div($percentage, 100%);
    @return color.mix($color2, $color1, $weight * 100%);
}

@mixin generate-color-properties(
    $prefix,
    $color-a,
    $color-b,
    $steps,
    $offset: 0
) {
    @for $i from 0 through $steps - 1 {
        $percentage: math.div($i, $steps - 1) * 100%;
        $color: blend-colors($color-a, $color-b, $percentage);

        --#{$prefix}-#{$i + $offset}: #{$color};
    }
}
