:root {
    --font-size--6: 0.7em;
    --font-size--5: 0.75em;
    --font-size--4: 0.8em;
    --font-size--3: 0.85em;
    --font-size--2: 0.9em;
    --font-size--1: 0.95em;
    --font-size--1: 0.95em;
    --font-size-0: 1em;
    --font-size-1: 1.1em;
    --font-size-2: 1.2em;
    --font-size-3: 1.3em;
    --font-size-4: 1.4em;
    --font-size-5: 1.5em;
    --font-size-6: 1.6em;

    --font-size-7: 1.8em;
    --font-size-8: 2em;
    --font-size-9: 2.2em;
    --font-size-10: 2.4em;

    --sans-font-family-0: "Manrope", sans-serif;
    --sans-font-family-1: "GeneralSans-Medium", sans-serif;

    --monospace-font-family-0: "Google Sans Code", monospace;

    --button-size: 60px;
    --icon-size: 25px;

    --lessSpacing: 12px;
    --moreSpacing: 24px;

    --max-width: 1100px;
}

/*****************/
/* MEDIA QUERIES */
/*****************/

@media (max-width: 900px) {
    :root {
        --lessSpacing: 10px;
        --moreSpacing: 20px;
    }
}

@media (max-width: 700px) {
    :root {
        /* keep less padding the same */
        --moreSpacing: 16px;
    }
}

@media (max-width: 600px) {
    :root {
        --moreSpacing: 12px;

        --button-size: 50px;
        --icon-size: 20px;
    }
}

:root {
    --background-color-0: #fefefe;
    --background-color-1: #f3f6fb;
    --background-color-2: #e8eff8;
    --background-color-3: #dde7f5;
    --background-color-4: #d2dff2;
    --background-color-5: #c7d8ef;
    --background-color-6: #bbd0eb;
    --background-color-7: #b0c9e8;
    --background-color-8: #a5c1e5;
    --background-color-9: #9ab9e2;
    --background-color-10: #8fb2df;

    --background-color-0-transparent: #0f0f0f2d;

    --font-color-0: #333333;
    --font-color-1: #424345;
    --font-color-2: #525456;
    --font-color-3: #616468;
    --font-color-4: #71747a;

    /* combine tinted and grayscale font */
    --font-color-4: #6494d3;
    --font-color-5: #75a0d8;
    --font-color-6: #87abdc;
    --font-color-7: #98b7e1;
    --font-color-8: #a9c3e6;
    --font-color-9: #bacfeb;
    --font-color-10: #ccdbf0;

    --accent-color-0: #1f64bf;

    --border-color-0: #bbd0eb;
    --border-color-1: #a5c1e5;
    --border-color-2: #8fb2df;
}

/* dark mode */
html.dark {
    --background-color-0: #0f0f0f;
    --background-color-1: #191919;
    --background-color-2: #232323;
    --background-color-3: #2e2e2e;
    --background-color-4: #383838;
    --background-color-5: #424242;
    --background-color-6: #4c4c4c;
    --background-color-7: #575757;
    --background-color-8: #616161;
    --background-color-9: #6b6b6b;
    --background-color-10: #757575;

    --background-color-0-transparent: #0f0f0fbb;

    --font-color-0: #f3f3f3;
    --font-color-1: #e8e8e8;
    --font-color-2: #dcdcdc;
    --font-color-3: #d1d1d1;
    --font-color-4: #c5c5c5;
    --font-color-5: #b9b9b9;
    --font-color-6: #aeaeae;
    --font-color-7: #a2a2a2;
    --font-color-8: #979797;
    --font-color-9: #8b8b8b;
    --font-color-10: #7f7f7f;
    --font-color-11: #747474;
    --font-color-12: #686868;
    --font-color-13: #5d5d5d;
    --font-color-14: #515151;

    --accent-color-0: #ff7900;

    --border-color-0: #424242;
    --border-color-1: #575757;
    --border-color-2: #6b6b6b;
}
