@use "base";
@use "components";

#actions {
    position: absolute;

    top: 2rem;
    left: 2rem;

    background-color: var(--background-color-1);
    border: 1px solid var(--border-color-0);

    display: flex;
    flex-direction: row;

    .button {
        border: none;
    }

    .message {
        display: flex;
        flex-direction: row;
        align-items: center;

        padding: 0 1rem;

        border-right: 1px solid var(--border-color-0);
    }
}

#asciiContainer {
    display: flex;
    flex: 1;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
