#actions {
    position: absolute;

    top: 50px;
    left: 50px;

    background-color: var(--background-color-1);
    border: 1px solid var(--border-color-0);

    display: flex;
    flex-direction: row;
}

#actions .message {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: 500;

    padding: var(--spacing-less) var(--spacing-more);

    border-right: 1px solid var(--border-color-0);
}

span.code {
    font-family: var(--monospace-font-family-0);
}

#asciiContainer {
    width: 100vw;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 1000px) {
    #actions {
        top: 40px;
        left: 40px;
    }
}

@media (max-width: 600px) {
    #actions {
        top: 30px;
        left: 30px;
    }
}
